# Java (Spring Boot)
*.class
*.jar
*.war
*.log
*.iml
target/
build/

# Node (React Native)
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# React Native platforms
ios/build/
android/.gradle/
android/app/build/

# Environment files
.env
.env.*.local

# IDEs
.vscode/
.idea/
*.sw?

# Mac / Linux / Windows
.DS_Store
Thumbs.db
